.App {
  text-align: center;
  height: 10vh;
  background: yellowgreen;
}
.App2 {
  text-align: center;
  height: 10vh;
  background: blueviolet;
}

.App3 {
  text-align: center;
  background: darkgoldenrod;
}

.App4 {
  text-align: center;
  background: cornflowerblue;
}

.App5 {
  text-align: center;
  background: orangered;
}

.App6 {
  text-align: center;
  background: orchid;
}

.App7 {
  text-align: center;
  background: indianred;
}

.App8 {
  text-align: center;
  background: lightblue;
}

.App9 {
  text-align: center;
  background: darkorange;
}

.App10 {
  text-align: center;
  background: darkolivegreen;
}

h2 {
  margin: 0;
}


/* //////////////////////////////// */

.container {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.description {
  max-width: 50%;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.number {
  padding: 8px;
}

.button {
  margin: 0 8px;
  padding: 8px;
}